@using Microsoft.AspNetCore.Identity

@model List<IdentityUser>

@{
    ViewData["Title"] = "ViewStaff";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Staff List</h1>
<p>
    <a asp-action="CreateStaff">Create Staff</a>
</p>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var staff in Model)
        {
            @*@foreach (var staff in model.staffUsers)
            {*@
              <tr>
                <td>@staff.Id</td>
                <td>@staff.UserName</td>
                <td>@staff.Email</td>
                <td>
                    <a class="btn btn-info" href="/Admins/EditStaff?id=@staff.Id"> Edit </a>
                </td>
            </tr>  
            @*}
            @foreach (var revenue in model.staffRevenue)
            {
                <tr>
                    <td>@revenue.StaffId</td>
                    <td>@revenue.Revenue</td>
                </tr>
            }*@
        }
    </tbody>
</table>

