@model ASM.Models.Product
@{
	ViewData["Title"] = "Detail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-sand padding-large">
	<div class="container">
		<div class="row">

			<div class="col-md-6">
				<a href="#"><img src="@Html.DisplayFor(model => model.ProductImage)"></a>
			</div>

			<div class="col-md-6 pl-5">
				<div class="product-detail">
					<h1>@Html.DisplayFor(model => model.ProductName)</h1>
					<p>
						@if (Model.AuthorProducts.Any())
						{
							var authorNames = Model.AuthorProducts.Select(ap => ap.Author.AuthorName);
							<span>@string.Join(", ", authorNames)</span>
						}
					</p>
					<p>
						@if (Model.CategoryProducts.Any())
						{
							var categoryNames = Model.CategoryProducts.Select(cp => cp.Category.CategoryName);
							<span>@string.Join(", ", categoryNames)</span>
						}
					</p>
					<span class="price colored">$@Html.DisplayFor(model => model.ProductPrice)</span>

					<p>
						@Html.DisplayFor(model => model.ProductDescription)
					</p>

					<button type="submit" name="add-to-cart" value="27545" class="button">Add to cart</button>

				</div>
			</div>

		</div>
	</div>
</section>

