@model ASM.Models.Product


@{
	ViewData["Title"] = "Detail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-sand padding-large">
	<div class="container">
		<div class="row">

			<div class="col-md-6">
				<a href="#"><img src="@Html.DisplayFor(model => model.ProductImage)" style="height=700px"></a>
			</div>

			<div class="col-md-6 pl-5">
				<div class="product-detail">
					<h1>@Html.DisplayFor(model => model.ProductName)</h1>
					<p>
						@foreach (var authorProduct in Model.AuthorProducts)
						{
							<span>
								<a asp-controller="Authors" asp-action="FindAuthorById" asp-route-id="@authorProduct.AuthorId">
									@Html.DisplayFor(modelItem => authorProduct.Author.AuthorName)
								</a>
							</span>
						}
					</p>
					<p>
						@foreach (var categoryProduct in Model.CategoryProducts)
						{
							<span>
								<a asp-controller="Categories" asp-action="FindCategoryById" asp-route-id="@categoryProduct.CategoryId">
									@Html.DisplayFor(modelItem => categoryProduct.Category.CategoryName)
								</a>
							</span>
						}
					</p>
					<span class="price colored">$@Html.DisplayFor(model => model.ProductPrice)</span>

					<p>
						@Html.DisplayFor(model => model.ProductDescription)
					</p>
					<form id='myform' method='POST' class='quantity' action='#'>
						<input type='button' value='-' class='qtyminus minus' field='quantity' />
						<input id="quantity" type='text' name='quantity' value='1' class='qty' />
						<input type='button' value='+' class='qtyplus plus' field='quantity' />
					</form>
                    <button type="button" onclick="add(@Model.ProductId)" class="add-to-cart" asp-action="GetUsercart">Add to cart</button>
					
				</div>
			</div>

		</div>
	</div>
</section>
@section Scripts{
	<script>
		async function add(productId) {
			try {
				var quantity = document.getElementById("quantity").value;
				var redirect = 1;
				var response = await fetch(`/Cart/AddItem?productId=${productId}&qty=${quantity}&redirect=${redirect}`);
				if (response.status == 200) {
					var result = await response.json();
					console.log(result);
					var cartCountEl = document.getElementById("cartCount")
					cartCountEl.innerHTML = result;
				}
			}
			catch (err) {
				console.log(err);
			}
		}

		jQuery(document).ready(($) => {
			$('.quantity').on('click', '.plus', function (e) {
				let $input = $(this).prev('input.qty');
				let val = parseInt($input.val());
				$input.val(val + 1).change();
			});

			$('.quantity').on('click', '.minus',
				function (e) {
					let $input = $(this).next('input.qty');
					var val = parseInt($input.val());
					if (val > 0) {
						$input.val(val - 1).change();
					}
				});
		});
	</script>
}


