@model IEnumerable<ASM.Models.Product>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="colored">
					<h1 class="page-title">Shop</h1>
					<div class="breadcum-items">
						<span class="item"><a href="index.html">Home /</a></span>
						<span class="item colored">Shop</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--site-banner-->

<section class="padding-large">
	<div class="container">
		<div class="row">
			<h3>@ViewBag.Result</h3>
			<div class="products-grid grid">
					@foreach (var item in Model)
					{
					<figure class="product-style">
						<a asp-action="Detail" asp-route-id="@item.ProductId">
							<img src="@Html.DisplayFor(modelItem => item.ProductImage)" alt="Books" class="product-item" style="height:400px">
						</a>
						<button type="button" onclick="add(@item.ProductId)" class="add-to-cart">Add to Cart</button>
						<figcaption>
							<h3><a asp-action="Detail" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.ProductName)</a></h3>
							<p>
								@foreach (var authorProduct in item.AuthorProducts)
								{
									<span>
										<a asp-controller="Authors" asp-action="FindAuthorById" asp-route-id="@authorProduct.AuthorId">
											@Html.DisplayFor(modelItem => authorProduct.Author.AuthorName)
										</a>
									</span>
								}
							</p>
							<div class="item-price">$ @Html.DisplayFor(modelItem => item.ProductPrice)</div>
						</figcaption>
					</figure>
					}
				
			</div>

		</div>
	</div>
</section>

@section Scripts{
	<script>
		async function add(productId){
			try{
				var quantity = 1;
				var redirect = 0;
				var response = await fetch(`/Cart/AddItem?productId=${productId}&qty=${quantity}&redirect=${redirect}`);
				if(response.status == 200){
					var result = await response.json();
					console.log(result);
					var cartCountEl = document.getElementById("cartCount")
					cartCountEl.innerHTML = result;
				}
			}
			catch(err){
				console.log(err);
			}
		}
	</script>
}
